* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.body {
  background-color: white;
}

navbar {
  height: 80px;
  width: 100%;
  border: #2b2a2b 2px;
}

.navbar-in {
  height: 80px;
  padding: 10px 40px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.logo img {
  height: 60px;
}

.nav-links {
  width: 70vw;
  height: 100%;
  gap: 10px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  transition: all 0.2s linear;
}

.btn-contact {
  padding: 15px 40px;
  background-color: #ffc514;
  border: none;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
  font-size: medium;
  transition: all 0.2s linear;
}

.section-1 {
  padding: 80px;
  background-color: white;
  gap: 20px;
  align-items: start;
}

.section-1-left {
  padding: 0px 20px;
}

.section-1-left h1,
h2 {
  font-size: 80px;
  font-weight: 800;
  line-height: 1.2;
  color: #ffc514;
}

.section-1-left h2 {
  font-size: 70px;
  color: black;
}

.section-1-left p {
  font-size: 1.5rem;
  color: black;
  line-height: 1.5;
  margin: 30px 0px;
}

.section-1-input {
  background-color: white;
  border: grey 1px solid;
  padding: 0px 20px;
  border-radius: 10px;
  font-size: medium;
}

.section-1-input input {
  border: none;
  outline: none;
  background-color: white;
  width: 300px;
  padding: 15px 20px;
  border-radius: 50px;
  font-size: medium;
}

.section-2 {
  padding: 40px 80px;
  gap: 50px;
  flex-wrap: wrap;
  background-color: #2b2a2b;
}

.section-2-inner {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  font-size: large;
}
.section-2-title {
  font-size: 50px;
  font-weight: 700;
  color: white;
}

.section-2-description {
  font-size: 20px;
  color: white;
  font-weight: 500;
}

.section-3-maindiv {
  padding: 80px;
  background-color: white;
  position: sticky;
}

.section-3-left {
  padding: 0px 20px;
}

.section-3-left img {
  width: 100%;
  padding: 10px 20px;
}

.section-3-left p {
  font-size: 1.2rem;
  color: rgb(82, 81, 81);
  padding: 10px 0px;
}

.section-3-left h2 {
  font-size: 60px;
  font-weight: 700;
  color: black;
}

.section-3-right-up {
  font-size: 1.5rem;
  color: black;
  font-weight: 600;
}

.section-3-right {
  padding: 0px 40px;
  gap: 30px;
  position: sticky;
  height: 110vh;
  overflow-y: scroll;
}

.section-3-right-img img {
  width: 120px;
  padding: 10px;
}

.section-3-right-text {
  padding: 0px 20px;
}

.section-3-right-text p {
  padding: 10px 0px;
  color: rgb(82, 81, 81);
  font-size: 1.1rem;
}

.section-3-right-down {
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.section-3-right-down img {
  padding-left: 10px;
  width: 35px;
}

.section-4-maindiv {
  padding: 40px 100px;
  background-color: #ffffff;
  align-items: center;
  flex-wrap: wrap;
}

.section-4-title {
  font-size: 50px;
  font-weight: 700;
  color: black;
  padding: 20px 0px;
}

.section-4-maindiv p {
  font-size: 1.4rem;
  color: rgb(82, 81, 81);
  padding: 10px 0px;
  text-align: center;
}
.section-4-h1 {
  position: relative; 
  bottom: 290px;
  right: 50px;
}

.section-4-icons {
  gap: 20px;
  padding: 20px 0px;
  align-items: start;
  justify-content: start;
  margin: auto;
}

.img-4{
  width:40vw;
}

.section-4-button {
  padding: 15px 40px;
  background-color: #ffc514;
  border: none;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
  font-size: medium;
  transition: all 0.2s linear;
  margin-top: 20px;
  font-size: 1.2rem;
  gap: 5px;
}

.section-4-button img {
  width: 30px;
}

.section-5-maindiv {
  padding: 0px 80px;
  background-color: #ffc514;
  align-items: center;
  height: 65vh;
}

.section-5-img{
  height: 100%;
}

.section-5-img img {
  height: 100%;
  object-fit: contain;
} 

.section-5-text {
  padding: 20px 60px;
  text-align: left;
}
.section-5-text span {
  font-size: 4rem;  
  font-weight: 700;
  color: black;
  line-height: 1.2;
}

.section-5-text p {
  font-size: 1.5rem;
  color: black;
  line-height: 1.5;
  margin: 20px 0px;
  font-weight: 500;
}

.section-5-button {
  padding: 10px 40px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  width: 200px;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
  font-size: medium;
  transition: all 0.2s linear;
  margin-top: 20px;
  font-size: 1.2rem;
} 